!!!
%html
  %head
    %title
      = "Marek Julian"
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body
    %header
      %div#header-container.container-fluid
        %div#header-content.row-fluid.span12
          %div#header-logo
            %span.logo-paren
              (
            %span.logo-m M
            %span.logo-j J
            %span.logo-paren
              )
          %div#header-auth
            - if user_signed_in?
              %span= "Hi #{current_user.firstname}"
              %span
                = link_to "sign out", destroy_user_session_path, :method => :delete
            - else
              %span friends, clients or curious:
              %span
                = link_to "sign in", new_user_session_path

    / Flash notices
    - if flash[:notice]
      %div.flash-notice
        = flash[:notice]

    %section.container-fluid
      %div#content.row-fluid.span12
        / Yield content
        = yield

    %footer#footer
      %div#footer-container.container-fluid
        %div#footer-content.row-fluid.span12
          %span.footer-name-first marek julian
          %span.footer-name-last ryniejski

    / Javascript goes at the bottom
    = javascript_include_tag "application"
    = yield :view_specific_js

    /
      / Commit revision: #{git_revision}
      / Commit id: #{git_id}
      / Commit message: #{git_message}
      / Commit author: #{git_author}
      / Commit timestamp: #{git_timestamp}
      / Server ip: #{server_ip}
      / Hostname: #{server_name}
      / Mode: #{ENV["RAILS_ENV"]}
      / Generated at: #{Time.now}
